[submodule "deeptempo-core"]
	path = deeptempo-core
	url = https://github.com/NopalCyber/deeptempo-core.git
[submodule "mcp-servers"]
	path = mcp-servers
	url = https://github.com/DeepTempo/deeptempo-mcp-servers.git
[submodule "mempalace"]
	path = mempalace
	url = https://github.com/MemPalace/mempalace.git
